* {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}

/* Header Semantic Element */
header {
    background-color: #2e73c1;
    color: rgb(82, 177, 130);
    padding: 15px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

/* Farm Section */
.farm {
    background-image: url('../images/farm.png');
    background-size: cover;
    text-align: center;
    padding: 150px 0 300px 0;
}

.farm-content {
    max-width: 600px;
    margin: 0 auto;
}

.farm h1 {
    font-size: 80px;
    color: rgb(222, 65, 65);
}

.farm h2 {
    font-size: 30px;
    color: rgb(44, 14, 151);
}

.farm p {
    font-size: 20px;
    margin-bottom: 100px;
    color: rgb(128, 12, 35);
}

a:hover {
    color: red;
}

.cta {
    display:inline-block;
    background-color: #4f7640;
    color: rgb(230, 218, 218);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

/* Footer */
footer {
    background-color: #2e73c1;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Main Content Container */
main {
    padding: 0px;
}

/* Container Layout */
#home{
    display: flex;
    gap: 16px;
}

.home-text {
    width: 75%;
    text-align: justify;
}

.home-text h1 {
    font-size: 20px;
    padding-bottom: 96px;
}

.home-text h2 {
    font-size: 26px;
    padding-bottom: 26px;
}

.home-text p {
    padding-bottom: 18px;
}


/* Shop Section */
.shop {
    display: flex;
    gap: 32px;
    padding: 32px;
}

.shop-column {
    width: 50%;
}

.shop-column ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: square;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.text{
    font-size: 70px;
}


/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

label {
    padding: 16px 0;
    font-weight: bold;
}

input {
    font-size: 20px;
    padding: 6px;
}

textarea {
    resize: none;
}

input[type="submit"] {
    margin-top: 16px;
    padding: 8px 0;
    background-color: #add8e6;
    font-weight: bold;
}

/* Text Color Classes */
.fg-red {
    color: red;
}

.fg-green {
    color: green;
}

.fg-lightblue {
    color: #add8e6;
}